*
{
    box-sizing: border-box;
}
.container{
    width: 100%;
    display: flex;
   
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content:space-around;
    width: 70%;
    margin-left: 40px;
    padding: 10px;
}
.client1{
    background-color:hsl(263, 55%, 52%) ;
    width: 60%;
    padding: 15px;
    font-size: 16px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    color: white;
    border-radius: 15px;
}
.header{
    width:40%;
}
.header img{
    float: left;
    border-radius: 50%;
}
.name{
    margin-left: 10px;
    float: left;
}
.clr{
    clear: both;
}
.position{
    margin-left: 60px;
    margin-top: 0px;
    
}
.client2{
    color: white;
    width:35%;
    background-color: hsl(217, 19%, 35%);
    padding: 15px;
    font-size: 16px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    color: white;
    border-radius: 15px;
}
.client3{
    color:black;
    width:35%;
    background-color:white;
    padding: 15px;
    font-size: 16px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    border-radius: 15px;
}
.client4{
   background-color:  hsl(219, 29%, 14%);
    width: 60%;
    padding: 15px;
    font-size: 16px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    color: white;
    border-radius: 15px;
}
.side{
    width: 25%;
    background-color: burlywood;
    padding: 30px;
    border-radius: 15px;
    font-size: 16px;
    background-color: white;
    color: black;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;  
}
.caption{
    opacity: 70%;  
}
@media  only screen and ( max-width:800px)
{
    .header{
        width:100%;

        text-align: center;
    }
    .name {
        float: none;
    }
    .header img {
        float: none;
    }
     .client1,.client2,.client3,.client4
     {
         width: 100%;
         margin-top: 15px;
     }
     .position{
         margin-left: 10px;
     }

      .container{
          flex-wrap: wrap;
      }
     .main{
        display: flex;
        
        flex-wrap: wrap;
        justify-content:flex-start;
        margin-left: 0px;
        align-content:flex-start;
        width: 100%;
    }
    .side{
        width: 100%;
        margin-top: 15px;
    }
}